/* Keyboard has same style and layout as Board. So I used that css */
.button {

}

.keyRow {

}

.grey {
  background-color: darkgrey;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

#Enter {
  width: 120px;
}

#Delete {
  width: 120px;
}
